<h1>Job info</h1>
<h2><%= @job.title %></h2>
<p>company_id: <%= @job.company_id %></p>
<p>Title: <%= @job.title %></p>
<p>Description: <%= @job.description %></p>
<p>url: <%= @job.url %></p>
<p>location: <%= @job.location %></p>
<p>salary_range: <%= @job.salary_range %></p>
<a href="/jobs">Back to all jobs</a>
<%= link_to "Edit job", edit_jobs_path(@job) %>
<%= link_to "Destroy job", job_path(@job), data: {turbo_method: :delete} %>