<h1>Edit Company</h1>
<form method="post" action="/companies/<%= @company.id %>">
  <input type="hidden" name="_method" value="patch" autocomplete="off">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div>
    <label>Name </label>
    <input type="text" name="company[name]" value="<%= @company.name %>">
  </div>
  <div>
    <label>Logo </label>
    <input type="text" name="company[logo]" value="<%= @company.logo %>">
  </div>
  <div>
    <label>Description </label>
    <input type="text" name="company[description]" value="<%= @company.description %>">
  </div>
  <div>
    <input type="submit" value="Update company">
  </div>
</form>