<div class="companies">
<h1>Companies</h1>
<% @companies.each do |company| %>
  <% jobs = company.jobs.where(active: true) %>
  <h2><%= company.name %></h2>
  <img src="<%= company.logo %>" class="logo">
  <p>About Us: <%= company.description.capitalize %></p>
  <% if jobs.length <  1 %>
    <a href="/companies/<%= company.id %>">No current job postings</a>
  <% elsif jobs.length == 1 %>
    <a href="/companies/<%= company.id %>">1 job posting</a>
  <% elsif jobs.length > 1 %>
    <a href="/companies/<%= company.id %>"><%= company.jobs.length %> job postings</a>
  <% end %>
<% end %>
<br>
<% if current_user.admin %>
  <a href="/companies/new">New Company</a>
<% end %>
</div>