<% jobs = @company.jobs.where(active: true) %>

<h1><%= @company.name%></h1>
<h2>Current Jobs<h2>
<br>
<% jobs.each do |job| %>
  <a href="/jobs/<%= job.id %>"><%= job.title %></a>
  <hr>
<% end %>
<% if current_user.admin %>
  <a href="/companies/<%= @company.id %>/edit">Edit</a>
  <a href="/companies/<%= @company.id %>" data-turbo-method="delete">Delete</a>
<% end %>
<br>
<a href="/companies">Back to all companies</a>